<section id="jumbotron-small">

    <!-- Page Width -->
    <section class="container">

        <!-- Masthead -->
        <div class="masthead centeralign">
            <h1>{{ template.meta_title }}</h1>

            <h2>{{ template.meta_description }}</h2>
        </div>
        <!-- /Masthead -->

    </section>
    <!-- /Page Width -->

</section>
