<header>

    <!-- page width -->
    <section class="container">

        <!-- logo -->
        <h1 id="logo">
            <a href="/">Grisham Industries, Inc. &bull; If you need it moved, maintained, installed, repaired, machined,
                custom fabricated, rolled, formed, sheared, broached, bored, milled, keywayed, line bored, welded, a
                prototype or a short run, in house or on site...</a>
        </h1>
        <!-- /logo -->

        <!-- nav -->
        {% include "theme::partials/navigation" %}
        <!-- /nav -->

    </section>
    <!-- /page width -->

</header>
